:root {
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorPrin: #d6ccc2;
    --colorGray: #6c757d;
    --fonte-bold: 'bold', cursive;
    --fonte-ligth: 'light', cursive;
    --fonte-semiBold: 'semiBold', cursive;
    --fonte-regular: 'regular', cursive;
}

@font-face {
    font-family: bold;
    src: url('./fonte/montserrat/Montserrat-Bold.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: light;
    src: url('./fonte/montserrat/Montserrat-Light.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: semiBold;
    src: url('./fonte/montserrat/Montserrat-SemiBold.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: regular;
    src: url('./fonte/montserrat/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
}

.padrao {
    width: 80%;
    margin: auto;
}

.s1Padrao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 3%;
}

.s1 {
    height: 100px;
    background-color: var(--colorBlack);
    display: flex;
    align-items: center;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    color: var(--colorWhite);
    font-family: var(--fonte-regular);
    font-size: 13px;
}

li a {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0 10px 0 10px;
    border-bottom: 4px solid #000000;
    /*margem padrão que não aparece*/
}

li a:hover {
    border-bottom: 4px solid #d5bdaf;
}

.menuMobile {
    display: none;
}

.s2 {
    height: calc(100vh - 100px);
    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('./imagens/f13.jpg') no-repeat;
    background-position: center;
    /*posiciona a imagem no centro*/
    background-size: cover;
    /*deixa a imagem responsiva*/
    overflow: hidden;
    /*tudo que for maior horizontalmente ele ignora, não criando assim barra horinzontal*/
    font-family: var(--fonte-regular);
    font-size: 25px;
}

.s2 .sliders {
    width: 1000vw;
    height: 100%;
}

.s2 .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.s2 .textBanner {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--colorWhite);
    font-family: var(--fonte-ligth);
}

.s2 .textBanner span {
    color: var(--colorPrin);
}

.button {
    background-color: var(--colorPrin);
    font-family: var(--fonte-semiBold);
    padding: 12px 22px;
    border-radius: 20px;
    border: none;
    margin: 20px 0 0 0;

}

.textBanner p {
    font-size: 20px;
    margin: 20px 0 0 0;
}

.s2 .slide-pointer {
    width: 100vw;
    height: 15px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 .slide-pointer .circle {
    height: 15px;
    width: 15px;
    border: 2px solid #d5bdaf;
    border-radius: 100%;
    margin: 8px;
    cursor: pointer;
}

.ativo {
    background-color: var(--colorPrin);
}

.padrao h1,
.padrao h2 {
    text-transform: uppercase;
    text-align: center;
}

.padrao h1 {
    margin-top: 50px;
    font-family: var(--fonte-bold);
}

.padrao h2 {
    margin-top: 12px;
    font-family: var(--fonte-semiBold);
    font-size: 14px;
    color: var(--colorGray);
}

.padrao p {
    font-family: var(--fonte-ligth);
    margin-top: 15px;
}

.dark {
    background-color: var(--colorBlack);
    width: 100%;
}

.padrao.dark h1 {
    padding: 50px 0 7px 0;
    font-family: var(--fonte-bold);
    color: var(--colorPrin);
}

.padrao.dark h2 {
    margin-top: 12px;
    font-family: var(--fonte-semiBold);
    font-size: 14px;
    color: var(--colorWhite);
}

.padrao.dark p {
    font-family: var(--fonte-ligth);
    margin-top: 15px;
    text-align: center;
    color: var(--colorPrin);
}

.s3Body {
    display: flex;
    margin-top: 30px;
}

.s3Body-left {
    flex: 1;
}

.s3Body-right {
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.s3Body-left p {
    line-height: 30px;
    font-size: 16px;
}

.s3Body-right img {
    width: 380px;
    border-radius: 3px;
    background-size: cover;
    /* ou 'contain' */
    background-repeat: no-repeat;
    background-position: center;
}

.icon {
    color: aqua;
}

.s4Body {
    display: flex;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 50px;
}

.service {
    flex: 1;
    border-right: 1px solid #333;

}

.service:first-child {
    border-left: 1px solid #333;
}


.service h3 {
    color: var(--colorWhite);
    font-family: var(--fonte-regular);
    margin-top: 10px;
}

.service p {
    font-size: 13px;
}

.s5Body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.filters-none{
    display: none;
}

.s5-filters {
    border: 1px solid #6c757d;
    border-radius: 30px;
    background-color: var(--colorPrin);
    display: inline-block;
    padding: 0 20px 0 20px;
    max-width: 550px;
    margin: auto;
}

.s5-filters li {
    display: inline-block;
    margin: 0 5px 0 5px;
    padding: 10px;
    border-left: 1px solid #6c757d;
    font-family: var(--fonte-regular);
    text-transform: uppercase;
    font-size: 13px;
    border-top: 3px solid #d5bdaf;
    border-bottom: 3px solid #d5bdaf;
}

.s5-filters li:hover {
    border-bottom: 3px solid #6c757d;
}

.s5-filters li:first-child {
    border-left: 0;
}

.s5-fotos {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.foto {
    width: 280px;
    margin-right: 10px;
}

.areafoto {
    margin: 10px;
    width: 260px;
    height: 160px;

}

.areafoto img {
    width: inherit;
    height: inherit;
}

.infofoto {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: inherit;
    height: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--colorWhite);
}

.areafoto:hover .infofoto {
    display: flex;
}

.s6 {
    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('./imagens/f13.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;

}

.s6Body {
    overflow: hidden;
    margin: auto;
    max-width: 80%;
    margin-top: 20px;
}


.s6Body .sliders {
    width: 1000vw;
    height: 100%;
}

.s6Body .slide {
    min-width: 2.56%;
    height: 100%;
    display: inline-block;
    background-color: var(--colorWhite);
    margin-right: 20px;
    min-height: 300px;
    vertical-align: middle;
}

.s6 .slide-pointer {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.s6 .slide-pointer .circle {
    height: 15px;
    width: 15px;
    border: 2px solid #d5bdaf;
    border-radius: 100%;
    margin: 8px;
    cursor: pointer;
}

.ativo {
    background-color: var(--colorPrin);
}

.s6 .slide img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.team {
    text-align: center;
}

.team h4 {
    font-family: var(--fonte-regular);
    text-transform: uppercase;
    margin: 10px 0;

}

.team p {
    font-family: var(--fonte-ligth);
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 11px;
}

.social {
    display: flex;
    justify-content: center;

}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrin);
    color: var(--colorBlack);
    border-radius: 100%;
    margin-right: 10px;
}

.social a:hover {
    background-color: aquamarine;
}

.s7Body {
    text-align: center;
}

.s7Body img {
    height: 150px;
    border-radius: 100%;
    margin: auto;
    display: block;
    margin-top: 25px;
}

.s7Body h4 {
    font-family: var(--fonte-regular);
    margin: 12px;
    font-size: 18px;
    text-transform: uppercase;
}

.s7Body p {
    font-family: var(--fonte-ligth);
    margin: 12px;
    font-size: 15px;
}

.s7Body strong {
    font-family: var(--fonte-ligth);
    font-size: 15px;
    color: var(--colorGray);
    display: inline-block;
    width: 60%;
}

.menor {
    width: 40%;
}

.s7 .slide-pointer {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.s7F .slide-pointer .circle {
    height: 15px;
    width: 15px;
    border: 2px solid #d5bdaf;
    border-radius: 100%;
    margin: 8px;
    cursor: pointer;
}

.s8 {
    height: 150px;
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('./imagens/teste.jpg') no-repeat;
    background-position: center;
    /*posiciona a imagem no centro*/
    background-size: cover;
    /*deixa a imagem responsiva*/
    overflow: hidden;
    /*tudo que for maior horizontalmente ele ignora, não criando assim barra horinzontal*/
    font-family: var(--fonte-regular);
    font-size: 25px;
}

.s9Body {
    display: flex;
    overflow: hidden;
}

.planos {
    min-width: 23%;
    background-color: var(--colorPrin);
    margin: 10px;
    height: 250px;
    text-align: center;
    padding: 20px;
}

.planos h3 {
    font-family: var(--fonte-semiBold);
    font-size: 16px;
    margin-bottom: 10px;
}

.planos .valor {
    font-family: var(--fonte-regular);
    font-size: 20px;
    margin-bottom: 10px;
}

.planos .mensal {
    font-family: var(--fonte-regular);
    font-size: 14px;
    margin-bottom: 10px;
}

.planos ul{
    margin-top: 10px;
}

.s9Button {
    border-radius: 20px;
    background-color: var(--colorBlack);
    text-transform: uppercase;
    color: var(--colorPrin);
    padding: 5px 17px;
    margin-top: 20px;
}

.s10Body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.s10Body h3 {
    color: var(--colorWhite);
    font-size: 70px;
}

.s10Body div {
    padding: 20px;
    text-align: center;
}

.s10Body strong {
    color: var(--colorPrin);
}

.s11Body {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.s11 input {
    font-family: var(--fonte-ligth);
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 1px solid black;
    padding: 25px 0 7px 0;
}

textarea {
    font-family: var(--fonte-ligth);
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 1px solid black;
    padding: 25px 0 7px 0;
    height: 100px;
    resize: none;
}

.namemail {
    min-width: 300px;
    margin-right: 20px;
}

.outrosInput {
    max-width: 624px;
    width: 624px;
}

.s11 input:first-child {
    margin-top: 30px;
}

.s11 input:focus,
textarea:focus {
    font-family: var(--fonte-ligth);
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    /* Remove o contorno padrão */
    box-shadow: 0 0 3px var(--custom-red);
    /* Adiciona uma sombra para indicar o foco */
}

.s11Button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 25px;
    background-color: var(--colorPrin);
    border: 0;
    border-radius: 30px;
    font-family: var(--fonte-regular);
    text-transform: uppercase;
    margin-top: 20px;
}

.s12 {
    height: 400px;
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('./imagens/mapa.jpg') no-repeat;
    background-position: center;
    /*posiciona a imagem no centro*/
    background-size: cover;
    /*deixa a imagem responsiva*/
    overflow: hidden;
    /*tudo que for maior horizontalmente ele ignora, não criando assim barra horinzontal*/
    font-family: var(--fonte-regular);
    font-size: 25px;
}

.s12Body {
    padding: 30px 0 30px 0;
    margin: auto;
}

.s12Info {
    padding: 20px;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    width: 40%;
    font-family: var(--fonte-ligth);
    font-size: 13px;
}

.s12InfoItem {
    display: flex;
    height: auto;
    align-items: center;
    margin-top: 20px;
}

.s12InfoItem:first-child {
    margin-top: 0px;
}

.s12 p {
    margin: 0;
    padding: 0 0 0 5px;
}

.icon {
    background-color: var(--colorGray);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 50px;
}

.rodape div {
    flex: 1;
}

.rodape div i {
    background-color: #6c757d;
    padding: 4px;
    border-radius: 100%;
    margin-right: 4px;
}


.rodape div i:hover {
    background-color: aqua;
}

.socialRodape {
    margin-bottom: 20px;
}

.direitosAutorais {
    color: var(--colorWhite);
    font-family: var(--colorPrin);
}

.s13 i {
    color: var(--colorWhite);
}

.rodape div p {
    color: var(--colorWhite);
    margin: auto;
    padding: 0 40px 0 0;
}

.formm {
    margin: auto;
    max-width: 80%;
    background-color: var(--colorGray);
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-ligth);
    color: aliceblue;
    text-transform: uppercase;
    font-size: 13px;
}

.formm input {
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}


/*Responsividade Menu*/

@media (max-width:1254px) and (min-width:1166px) {
    .menu {
        font-size: 11px;
    }

    .logo {
        width: 100px;
    }
}

@media (max-width:1165px) {
    nav {
        position: absolute;
        /*precisa estar acima dos outros itens*/
        z-index: 99;
        background-color: rgba(0, 0, 0, .8);
        width: 40vw;
        height: auto;
        margin-top: 610px;
        right: 0;
        font-size: 12px;
        font-family: var(--fonte-semiBold);
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    li a {
        text-align: center;
        height: 59px;
        border: 0;
        margin-left: 20px;
    }

    .menuAtivo {
        color: #a1b5d8;
    }

    .menuMobile {
        display: flex;
        color: var(--colorPrin);
    }
}

/*Responsividade S3*/

@media (min-width:800px) and (max-width:1023px) {
    .s3Body p {
        font-size: 14px;
    }
}
@media (max-width:480px) {
    .s3Body-right img{
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

@media (max-width:985px) {
    .s3Body {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .s3Body-left {
        text-align: center;
        margin-bottom: 20px;
    }

    .s3Body-left button {
        background-color: var(--colorPrin);
        font-family: var(--fonte-semiBold);
        border-radius: 20px;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 0;
    }

    .s3Body-right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin: auto;
        width: auto;
    }
}

/*Responsividade S4*/
@media (max-width:1181px) {
    .s4Body {
        flex-wrap: wrap;
    }

    .service {
        min-width: 50%;
        margin-bottom: 20px;
        padding: 4px;
    }
}

@media (max-width:685px) {
    .s4Body {
        flex-wrap: wrap;
    }

    .service {
        min-width: 100%;
        margin-bottom: 20px;
        padding: 4px;
    }
}

/*Responsividade S5*/

@media (max-width:680px) {
    .s5-filters{
        display: none;
    }
}

/*Responsividade S6*/
@media (max-width:680px) { 
    .s6Body .slide {
        min-width: 8%;
    }
}

@media (min-width:680px) and (max-width:850px) {
    .s6Body .slide {
        min-width: 3.80%;
    }
}

/*Responsividade S9*/

@media (max-width:470px) { 
    .planos {
        min-width: 92%;
    }
}

@media (min-width:470px) and (max-width:631px) {
    .planos {
        min-width: 45%;
    }
}

@media (min-width:631px) and (max-width:850px) {
    .planos {
        min-width: 48%;
    }
    }



/*Responsividade S10*/
@media (min-width:685px) and (max-width:1090px) {
    .s10Body {
        flex-wrap: wrap;
    }

    .s10Body div {
        margin-top: 20px;
        min-width: 50%;
        margin-bottom: 20px;
        padding: 4px;
    }
}

@media (max-width:685px) {
    .s10Body {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .s10Body div {
        min-width: 100%;
        margin-bottom: 20px;
        padding: 4px;
    }

    .s10Body div:first-child {
        margin-top: 30px;
    }
}

/*Responsividade S11*/
@media (max-width:1006px) {
    .namemail {
        width: 100%;
        margin-right: 20px;
    }

    .outrosInput {
        width: 100%;
    }
}

/*Responsividade S12*/
@media (max-width:630px) {
    .s12Info {
        width: 100%;
    }
}

@media (max-width:850px) {
}

/*Responsividade S13*/
@media screen and (max-width:1085px) {
    .rodape {
        flex-direction: column-reverse;
        text-align: center;
    }

    .rodape div p {
        margin: 25px 0;
    }

    .formm {
        margin-bottom: 20px;
    }

    .formm input{
        width: 90%; 
        border-color: #a1b5d8;
    }

    .socialRodape {
        margin-bottom: 20px;
    }

    .direitosAutorais {
        justify-content: center;
    }
}